---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
        <div class="min-w-full">
            <div class="prose">
            <p>
                I’m <strong>Kaiser</strong> — better known as <strong>Alter</strong> — an Aries♈ on a boundless mission to break barriers, challenge norms, and script my own destiny. My current obsessions revolve around the electrifying domains of <strong>pwn</strong>, where I’m honing skills to become a fearless <strong>Vulnerability Researcher</strong> and <strong>Exploit Developer</strong> — always seeking the next puzzle to crack, the next frontier to breach.
            </p>
            <p>
                As a proud member of the <strong>BlitzHack</strong> and <strong>Fate//Decide</strong>, I thrive in the adrenal rush of discovery and the fierce thrill of competition. Outside of code, my universe expands through the lenses of <strong>Hacking, Music, and Photography</strong>, each pursuit a doorway to new insights and untamed imagination.
            </p>
            <p>
                My life’s mantra resonates like a cosmic drumbeat:<br />
                <strong>Dream → Fuel → Explore → Hack → Repeat</strong>.
            </p>
            <p>
                Every day is an invitation to elevate, innovate, and embrace a little chaos in pursuit of the impossible. Join me on this odyssey into the unknown—where hearts race, minds ignite, and the extraordinary is just a line of code away!
            </p>
            </div>
        </div>
    </section>
</Layout>
