---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout>
  <PageHead slot="head" title="Home" />
    <section>
        <div class="rounded-lg border bg-background text-foreground">
            <div class="flex flex-col space-y-2 p-6">
            <h3 class="text-4xl font-semibold tracking-wide">re·lent·less</h3>
            <p class="text-muted-foreground text-sm italic tracking-tight">
                /rɪˈlɛnt.ləs/ &bull; <span class="font-medium not-italic">adjective</span>
            </p>
            </div>
            <div class="p-6 pt-0 space-y-4">
            <p class="text-sm font-semibold text-muted-foreground text-balance">
                A mindset forged through resistance. Immune to failure. Obsessed with forward momentum, driven by the refusal to settle or slow down — even when no one is watching.
            </p>
            <blockquote class="border-l-2 border-muted pl-4 text-sm italic text-muted-foreground text-balance">
                “You weren’t made to rest. You were made to run until the wall breaks — or you do.”
            </blockquote>
            </div>
        </div>
    </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
